* {
    padding: 0px;
    margin: 0px;
}

:root{
    --cor: 221deg;
    --claro: hsl(var(--cor) 75% 45%);
    --medio: hsl(var(--cor) 74% 33%);
}

body {
    background-color: var(--claro);
}

#apresentação {
    padding-top: 2rem;
    color: white;
    text-align: center;
}

#apresentação h1{
    margin-top: 1rem;
    text-shadow: 0px 1px 15px black;
    color: white;
}

#apresentação img{
    margin: 1.5rem 0px ;
    width: 100%;
    max-width: 250px;
}

#apresentação {
    background-image: url(imagens/escola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#cards {
    margin-top: 1rem;
}

#cards > h2{
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

#cards .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#cards .card{
    min-height: 100px;
    width: calc(100% - 5rem);
    max-width: 500px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--medio);
    color: rgb(204, 204, 255);
}

#cards .card div{
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 300px) {
    #cards .card div{
        flex-wrap: wrap;
    }
}

footer {
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
}

footer a {
    color: rgba(255, 255, 255, 0.664);
}